/* navigation-extra only expands on small screens */
.navigation-extra{
    min-height: 0px;
}

/* based on https://www.geeksforgeeks.org/css-font-border/ */
.start-card-titles{
    color:white;
    text-shadow: 0 0 2px #000, 0 0 2px #000;
}



/** the following CSS is used for our navigation
and taken from https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp **/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(242,243,244); /* Black fallback color */
  background-color: rgba(242,243,244, 1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: left; /* Centered text/links */
  margin-top: 0; /* 30px top margin to avoid conflict with the close button on smaller screens */
  margin-left: 15%;
  margin-bottom: 50%;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #424242;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-height: 690px){
  /* expand this block if screen is small */
  .navigation-extra{
    min-height: 90px;
  }  
}


/* some extra css to make the nav-text black */
nav .overlay-content li a{
    color: black !important;
}